<div class="pt-5 d-flex flex-column">
    <div class="d-flex">
        <div style="margin-left:-40px">
            <div style="display: flex;
            justify-content: center;
            align-items: center;background: rgb(74, 78, 65);height: 80px; width:350px;border-radius: 100px;">
                <div style="font-weight: 400; padding-left: 20px;
                font-style: normal;
                color: rgb(255, 255, 255);
                text-decoration: none;font-size: 50px;font-family: TTRamillas;">
                    Korkownia
                </div>
            </div>
            <div style="display: flex;
            justify-content: center;
            align-items: center;    background: rgb(208, 199, 98);
            height: 60px; 
            width:250px;
            border-radius: 100px;
            margin-left: 180px;
            margin-top: -10px">
                <div style="font-weight: 400;
                font-style: normal;
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: 50px;
                font-family: TTRamillas;">
                    biologii
                </div>
            </div>
        </div>
        <div class="ms-auto p-2" style="margin-right: 200px;">
            <img src="../../assets/frog.webp" style="width:120px"/>
        </div>
    </div>

    <!-- <div class="bFnJ2A _682gpw" style="clip-path: path(&quot;M 224.817 0 C 242.039 0 256 57.3076 256 128 C 256 198.692 242.039 256 224.817 256 L 31.183 256 C 13.9611 256 0 198.692 0 128 C 0 57.3076 13.9611 0 31.183 0 L 224.817 0&quot;); background: rgb(74, 78, 65); width: 256px; height: 256px; transform: scale(1.31259, 0.31977); transform-origin: 0px 0px; touch-action: pan-x pan-y pinch-zoom;"></div>
    <div class="aF9o6Q _0yZ6Qg" style="writing-mode: horizontal-tb; width: 502.968px; height: 127.24px; transform: scale(0.471701, 0.471701); transform-origin: 0px 0px;"><div lang="pl-PL" class="AdBbhQ hGbcYA" style="transform: translate(-1.06198px, 10.6198px);"><p class="cgHgbA pYZEjA Xp24Nw" style="font-family: &quot;YAFdJsZqKzQ 0&quot;, _fb_, auto; font-size: 106.198px; color: rgb(255, 255, 255); line-height: 106px; letter-spacing: -0.02em; --para-spacing: 0; text-transform: none; --head-indent: 0; --numeric-list-marker: none; list-style-type: none;"><span class="OYPEnA" style="font-weight: 400; font-style: normal; color: rgb(255, 255, 255); text-decoration: none;">biologii</span></p></div></div> -->
</div>